* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
}

img {
    height: 100%;
    width: 100%;
    display: block;
}

.App {
    margin: 5rem 15rem;
}